[Desktop Entry]
Comment=A translucent theme for Plasma 5
Name=McMojave-light
X-KDE-PluginInfo-Author=vince liuice
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL V3.0
X-KDE-PluginInfo-Name=Mojave-light
X-KDE-PluginInfo-Version=0.1
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=McMojave-light
defaultFileSuffix=.jpg
defaultWidth=1920
defaultHeight=1080
