[SddmGreeterTheme]
Name=McMojave
Description=MacOS Mojave sddm theme for KDE Plasma
Author=VinceLiuice
Copyright=(c) 2014, Vince Liuice
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/vinceliuice/McMojave-kde
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=vinceliuice@hotmail.com
Theme-Id=McMojave
Theme-API=2.0
QtVersion=6
